<?xml version="1.0"?>

<model>
  <name>Rover HM</name>
  <version>1.0</version>
  <sdf version='1.9'>rover_hm.sdf</sdf>

  <author>
    <name>Mohammad Ghufran</name>
    <email>ghufran1942@arizona.edu</email>
  </author>

  <description>
    A simple model of a rover. The rover is equipped with a camera and a LIDAR sensor.x
  </description>
</model>